In [4]:
import pandas as pd
import numpy as np

In [5]:
sslc = pd.read_csv('marks.txt', sep = ';', header = None , index_col = None)

<ipython-input-5-6439a8da2268>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  sslc = pd.read_csv('marks.txt', sep = ';', header = None , index_col = None)

In [6]:
print(type(sslc))

<class 'pandas.core.frame.DataFrame'>

In [7]:
sslc.head()

  0      1    2    3   4   5   6    7    8    9   10
0  A  10001  053  036  28  16  44  177  NaN  NaN NaN
1  A  10002  058  037  42  35  40  212    P  NaN NaN
2  A  10003  072  056  71  55  70  324    P  NaN NaN
3  A  10004  087  064  83  58  65  357    P  NaN NaN
4  A  10005  059  045  50  35  48  237    P  NaN NaN

In [8]:
sslc.tail(15)

       0       1    2    3   4   5   6    7    8    9   10
185652  C  199983  021  016  11  05  36   89  NaN  NaN NaN
185653  C  199985  063  042  38  35  58  236    P  NaN NaN
185654  C  199986  077  051  44  35  58  265    P  NaN NaN
185655  C  199987  057  039  26  13  41  176  NaN  NaN NaN
185656  C  199988  069  058  39  35  51  252    P  NaN NaN
185657  C  199989  057  034  26  17  58  192  NaN  NaN NaN
185658  C  199990  023  018  17  10  41  109  NaN  NaN NaN
185659  C  199991  063  042  37  35  60  237    P  NaN NaN
185660  C  199992  058  044  36  20  45  203  NaN  NaN NaN
185661  C  199994  044  038  25  17  41  165  NaN  NaN NaN
185662  C  199995  053  034  26  24  44  181  NaN  NaN NaN
185663  C  199996  051  038  24  15  41  169  NaN  NaN NaN
185664  C  199997  049  039  12  20  24  144  NaN  NaN NaN
185665  C  199998  033  036  22  15  35  141  NaN  NaN NaN
185666  C  199999  017  014  15  14  20   80  NaN  NaN NaN

In [9]:
#returns no of Data in cells in the data frame
sslc.size

2042337

In [10]:
#returns number of Non Null values in each column
sslc.count()

0     185667
1     185667
2     185667
3     185667
4     185667
5     185667
6     185667
7     185667
8     159072
9        113
10         0
dtype: int64

In [11]:
sslc.shape

(185667, 11)

In [12]:
sslc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185667 entries, 0 to 185666
Data columns (total 11 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       185667 non-null  object
 1   1       185667 non-null  int64
 2   2       185667 non-null  object
 3   3       185667 non-null  object
 4   4       185667 non-null  object
 5   5       185667 non-null  object
 6   6       185667 non-null  object
 7   7       185667 non-null  object
 8   8       159072 non-null  object
 9   9       113 non-null     object
 10  10      0 non-null       float64
dtypes: float64(1), int64(1), object(9)
memory usage: 15.6+ MB

In [13]:
#number of unique values in each column of dataframe
sslc.nunique()

0          6
1     185667
2         96
3         95
4         99
5         98
6         97
7        882
8          1
9          1
10         0
dtype: int64

In [14]:
sslc.describe()

                  1    10
count  185667.000000  0.0
mean   105014.949043  NaN
std     54921.152696  NaN
min     10001.000000  NaN
25%     57314.500000  NaN
50%    105291.000000  NaN
75%    152581.500000  NaN
max    199999.000000  NaN

In [15]:
sslc.describe(include = [object])

             0       2       3       4       5       6       7       8    9
count   185667  185667  185667  185667  185667  185667  185667  159072  113
unique       6      96      95      99      98      97     882       1    1
top          B     085     035      35      35      35     278       P    W
freq     41341    5989    6703   12842   25723    5334     592  159072  113

In [16]:
sslc.describe(exclude = [object])

                  1    10
count  185667.000000  0.0
mean   105014.949043  NaN
std     54921.152696  NaN
min     10001.000000  NaN
25%     57314.500000  NaN
50%    105291.000000  NaN
75%    152581.500000  NaN
max    199999.000000  NaN

In [18]:
sslc.describe(include = 'all')

,0,1,2,3,4,5,6,7,8,9,10
count,185667,185667.000000,185667,185667,185667,185667,185667,185667.0,159072,113,0.0
unique,6,NaN,96,95,99,98,97,882.0,1,1,NaN
top,B,NaN,085,035,35,35,35,278.0,P,W,NaN
freq,41341,NaN,5989,6703,12842,25723,5334,592.0,159072,113,NaN
mean,NaN,105014.949043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,54921.152696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,10001.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,57314.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,105291.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,152581.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,199999.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
sslc.memory_usage()

Index        128
0        1485336
1        1485336
2        1485336
3        1485336
4        1485336
5        1485336
6        1485336
7        1485336
8        1485336
9        1485336
10       1485336
dtype: int64

In [20]:
sslc.columns = ['region','roll_no','fl','sl','math','sci','ss','total','pass','withheld','extra']

In [21]:
sslc.head()

  region  roll_no   fl   sl math sci  ss total pass withheld  extra
0      A    10001  053  036   28  16  44   177  NaN      NaN    NaN
1      A    10002  058  037   42  35  40   212    P      NaN    NaN
2      A    10003  072  056   71  55  70   324    P      NaN    NaN
3      A    10004  087  064   83  58  65   357    P      NaN    NaN
4      A    10005  059  045   50  35  48   237    P      NaN    NaN

In [22]:
sslc['pass']

0         NaN
1           P
2           P
3           P
4           P
         ...
185662    NaN
185663    NaN
185664    NaN
185665    NaN
185666    NaN
Name: pass, Length: 185667, dtype: object

In [24]:
sslc.iloc[0]

region          A
roll_no     10001
fl            053
sl            036
math           28
sci            16
ss             44
total         177
pass          NaN
withheld      NaN
extra         NaN
Name: 0, dtype: object

In [25]:
sslc.set_index('roll_no', inplace = True)

<class 'pandas.core.frame.DataFrame'>
Index: 185667 entries, 10001 to 199999
Data columns (total 10 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   region    185667 non-null  object
 1   fl        185667 non-null  object
 2   sl        185667 non-null  object
 3   math      185667 non-null  object
 4   sci       185667 non-null  object
 5   ss        185667 non-null  object
 6   total     185667 non-null  object
 7   pass      159072 non-null  object
 8   withheld  113 non-null     object
 9   extra     0 non-null       float64
dtypes: float64(1), object(9)
memory usage: 15.6+ MB

In [27]:
sslc.loc[10001]

region        A
fl          053
sl          036
math         28
sci          16
ss           44
total       177
pass        NaN
withheld    NaN
extra       NaN
Name: 10001, dtype: object

In [28]:
sslc.isnull().sum()

region           0
fl               0
sl               0
math             0
sci              0
ss               0
total            0
pass         26595
withheld    185554
extra       185667
dtype: int64

In [31]:
sslc['fl'].unique()

array(['053', '058', '072', '087', '059', '044', '062', '043', '049',
       '055', '048', '045', '083', '046', '037', '030', '050', '042',
       '067', '076', '074', '051', '056', '073', '071', '068', '069',
       '047', '064', '082', '079', '075', '086', '077', '054', '041',
       '078', '063', '084', '080', '085', '065', '090', '093', '092',
       '089', '081', '033', '070', '066', '060', '052', '034', '057',
       '021', '039', '036', '026', '032', '035', '040', '017', '027',
       '061', '024', '028', '088', '031', '029', '025', '038', '091',
       '094', '096', '095', '022', '019', '014', '016', '018', '023',
       '011', '012', '015', '004', '013', '010', '009', '020', '097',
       '006', '005', '007', '008', 'AA', '098'], dtype=object)

In [32]:
sslc['fl'].replace('AA', np.nan, inplace = True)
sslc['sl'].replace('AA', np.nan, inplace = True)
sslc['math'].replace('AA', np.nan, inplace = True)
sslc['sci'].replace('AA', np.nan, inplace = True)
sslc['ss'].replace('AA', np.nan, inplace = True)
sslc['total'].replace('AA', np.nan, inplace = True)

<ipython-input-32-dd4f270ee280>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['fl'].replace('AA', np.nan, inplace = True)
<ipython-input-32-dd4f270ee280>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['sl'].replace('AA', np.nan, inplace = True)
<ipython-input-32-dd4f270ee280>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['math'].replace('AA', np.nan, inplace = True)
<ipython-input-32-dd4f270ee280>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['sci'].replace('AA', np.nan, inplace = True)
<ipython-input-32-dd4f270ee280>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['ss'].replace('AA', np.nan, inplace = True)
<ipython-input-32-dd4f270ee280>:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sslc['total'].replace('AA', np.nan, inplace = True)

In [33]:
sslc['fl'].unique()

array(['053', '058', '072', '087', '059', '044', '062', '043', '049',
       '055', '048', '045', '083', '046', '037', '030', '050', '042',
       '067', '076', '074', '051', '056', '073', '071', '068', '069',
       '047', '064', '082', '079', '075', '086', '077', '054', '041',
       '078', '063', '084', '080', '085', '065', '090', '093', '092',
       '089', '081', '033', '070', '066', '060', '052', '034', '057',
       '021', '039', '036', '026', '032', '035', '040', '017', '027',
       '061', '024', '028', '088', '031', '029', '025', '038', '091',
       '094', '096', '095', '022', '019', '014', '016', '018', '023',
       '011', '012', '015', '004', '013', '010', '009', '020', '097',
       '006', '005', '007', '008', nan, '098'], dtype=object)

In [35]:
sslc['fl'] = pd.to_numeric(sslc['fl'],errors = 'coerce')
sslc['sl'] = pd.to_numeric(sslc['sl'],errors = 'coerce')
sslc['math'] = pd.to_numeric(sslc['math'],errors = 'coerce')
sslc['sci'] = pd.to_numeric(sslc['sci'],errors = 'coerce')
sslc['ss'] = pd.to_numeric(sslc['ss'],errors = 'coerce')
sslc['total'] = pd.to_numeric(sslc['total'],errors = 'coerce')

In [37]:
sslc.head()

        region    fl    sl  math   sci    ss  total pass withheld  extra
roll_no
10001        A  53.0  53.0  53.0  53.0  53.0   53.0  NaN      NaN    NaN
10002        A  58.0  58.0  58.0  58.0  58.0   58.0    P      NaN    NaN
10003        A  72.0  72.0  72.0  72.0  72.0   72.0    P      NaN    NaN
10004        A  87.0  87.0  87.0  87.0  87.0   87.0    P      NaN    NaN
10005        A  59.0  59.0  59.0  59.0  59.0   59.0    P      NaN    NaN